.container{
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
}

.jumbotron{
  background-color: #92d0f0;
}

h1{
  text-align: center;
  color: white;
  font-size: 600%;
}

label{
  display: block;
}

#chart{

}

img.heart{
  width: 7%;
  display: inline-block;
}
