.container{
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
}

.jumbotron{
  background-color: #92d0f0;
}

h1{
  text-align: center;
  color: white;
  font-size: 600%;
}

h2{
  text-align: center;
}

label{
  display: block;
}

#chart{

}

img.heart{
  width: 7%;
  display: inline-block;
}

.confidence-text{
 padding: 0 2em; 
}


#graph {
  margin: 0 20%;
display: block;  margin: 0 auto;
}


.description{
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: 160%;
padding-bottom: 5%;
}

#results-container {
  visibility: hidden;
}

@media (max-width:480px){
  .description{
    padding: 0 2em;
    text-align: center;
    font-size: 160%;
  padding-bottom: 5%;
  }

}

@media (max-width:1024px){
  .description{
    padding: 0 2em;
    text-align: center;
    font-size: 160%;
  padding-bottom: 5%;
  }
}

